.start {
  padding: 60px;
  text-align: center;
  background: #000;
  color: white;
  font-size: 30px;
  margin: 50px 0 ;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Caveat', cursive;
	list-style: none;
	text-decoration: none;
}

body{
	height: 100vh;
	background-size: cover;
	background-position: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color:#000 ;
  color: #fff;
  min-height: 10%;
  display: grid;
  margin: 5% 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8%;
	box-shadow: 0 5px 10px #000;
}

header .logo{
	font-size: 20px;
	font-weight: 900;
	color: #000;
	transition: .5s;
}

header .logo:hover {
	transform: scale(1.2);
}

header nav ul li {
	position: relative;
	float: left;
}

header nav ul li a {
	padding: 15px;
	color: #000;
	font-size: 16px;
	display: block;
}

header nav ul li a:hover {
	background: #000;
	color: #fff;
}

nav ul li ul {
	position: absolute;
	left: 0;
	width: 180px;
	background: #fff;
	display: none;
}

nav ul li ul li {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .1);

}

nav ul li ul li ul {
	left:180px;
	top: 0;
}
nav ul li:hover > ul {
	display: initial;

}
p {
	font-size: 30px;
	text-align: center;
	padding: 0 15%;
}
img {
	margin: 10px auto 20px;
	display: block;
	height: 400px;
	box-shadow: 0 5px 10px #000;
	border-radius: 10px;
}